<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XigniteAnalystsSoap" />
            </basicHttpBinding>
            <!--<customBinding>
                <binding name="XigniteAnalystsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>-->
        </bindings>
        <client>
            <endpoint address="http://www.xignite.com/xAnalysts.asmx" binding="basicHttpBinding"
                bindingConfiguration="XigniteAnalystsSoap" contract="XigniteAnalystsServiceReference.XigniteAnalystsSoap"
                name="XigniteAnalystsSoap" />
            <!--<endpoint address="http://www.xignite.com/xAnalysts.asmx" binding="customBinding"
                bindingConfiguration="XigniteAnalystsSoap12" contract="XigniteAnalystsServiceReference.XigniteAnalystsSoap"
                name="XigniteAnalystsSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>